<span style='background:yellow'>**Question 1.1.**</span> Define `to_percentage` in the cell below.  Call your function to convert the proportion .2 to a percentage.  Name that percentage `twenty_percent`.

In [1]:
def to_percentage (value):
  return value*100
twenty_percent = to_percentage(0.2)
twenty_percent

20.0

In [2]:
to_percentage(.35)

35.0

Question 1.2. Use to_percentage again to convert the proportion named a_proportion (defined below) to a percentage called a_percentage.

Note: You don't need to define to_percentage again! Like other named values, functions stick around after you define them.

In [3]:
a_proportion = 2**(.5) / 2
a_percentage = to_percentage(a_proportion)
a_percentage

70.71067811865476

In [4]:
a_percentage == 70.71067811865476

True

Question 1.4. Write a function called num_non_vowels. It should take a string as its argument and return a number. That number should be the number of characters in the argument string that aren't vowels. You should use the disemvowel function you wrote above inside of the num_non_vowels function.

In [5]:
def num_non_vowels(string):
    def disemvowel(string):
        vowels = "aeiouAEIOU"
        return "".join([char for char in string if char not in vowels])

    return len(disemvowel(string))
num_non_vowels("Go bears!")

6

<span style='background:yellow'>**Question 1.5.**</span> Write a function called `print_kth_top_movie_year`.  It should take a single argument, the rank of the year (like 2, 3, or 5 in the above examples).  It should print out a message like the one above.  

*Note:* Your function shouldn't have a `return` statement.

In [6]:
from  google.colab import drive
drive.mount('/content/drive')
from datascience import * 
import pandas as pd
import matplotlib.pyplot as p

Mounted at /content/drive

In [7]:
movies_by_year = Table.read_table("/content/drive/My Drive/Colab Notebooks/movies_by_year.csv")
rank = 5
fifth_from_top_movie_year = movies_by_year.sort("Total Gross", descending=True).column("Year").item(rank-1)
print("Year number", rank, "for total gross movie sales was:", fifth_from_top_movie_year)

Year number 5 for total gross movie sales was: 2010

In [8]:
def print_kth_top_movie_year(k):
  fifth_from_top_movie_year = movies_by_year.sort("Total Gross", descending=True).column("Year").item(k-1)
  return "Year number", k, "for total gross movie sales was:", fifth_from_top_movie_year
print_kth_top_movie_year(2)

('Year number', 2, 'for total gross movie sales was:', 2013)

In [9]:
print_kth_top_movie_year(3)

('Year number', 3, 'for total gross movie sales was:', 2012)

In [10]:
# TEST
print_kth_top_movie_year(4) # Year number 4 for total gross movie sales was: 2009

('Year number', 4, 'for total gross movie sales was:', 2009)

<span style='background:yellow'>**Question 2.1.**</span> Use the `type` function and set `total_pay_type` to the type of the first value in the "Total Pay" column.

In [11]:
raw_compensation = Table.read_table("/content/drive/My Drive/Colab Notebooks/raw_compensation.csv")

In [12]:
total_pay_type = type(raw_compensation.column('Total Pay').item(0))
total_pay_type

str

In [13]:
import numpy
total_pay_type != numpy.ndarray

True

In [14]:
'str' in str(total_pay_type)

True

In [15]:
total_pay_type != int

True

<span style='background:yellow'>**Question 2.2.**</span> You should have found that the values in the `Total Pay` column are strings. It doesn't make sense to take the average of string values, so we need to convert them to numbers if we want to do this. Extract the first value in `Total Pay`.  It's Mark Hurd's pay in 2015, in *millions* of dollars.  Call it `mark_hurd_pay_string`.

In [16]:
mark_hurd_pay_string = raw_compensation.column('Total Pay').item(0)
mark_hurd_pay_string

'$53.25 '

In [17]:
str(mark_hurd_pay_string) == '$53.25 '

True

<span style='background:yellow'>**Question 2.3.**</span> Convert `mark_hurd_pay_string` to a number of *dollars*.

In [18]:
mark_hurd_pay = int(float(mark_hurd_pay_string.strip("$")) * 1000000)
mark_hurd_pay

53250000

In [19]:
type(mark_hurd_pay) != str

True

In [20]:
mark_hurd_pay != 5325

True

<span style='background:yellow'>**Question 2.4.**</span> Copy the expression you used to compute `mark_hurd_pay`, and use it as the return expression of the function below. But make sure you replace the specific `mark_hurd_pay_string` with the generic `pay_string` name specified in the first line in the `def` statement.

In [21]:
def convert_pay_string_to_number(pay_string):
    """Converts a pay string like '$100' (in millions) to a number of dollars."""
    return int(float(pay_string.strip("$")) * 1000000)

In [22]:
convert_pay_string_to_number("$100 ") == 100000000.0

True

In [23]:
# TEST
convert_pay_string_to_number("$23 ") == 23000000.0

True

<span style='background:yellow'>**Question 3.1.**</span> Make an array containing any 3 other functions you've seen.  Call it `some_functions`.

In [24]:
some_functions = make_array(sum, min, max)
some_functions

array([<built-in function sum>, <built-in function min>,
       <built-in function max>], dtype=object)

In [25]:
len(some_functions)==3

True

In [26]:
callable(some_functions.item(1))

True

In [27]:
callable(some_functions.item(2))

True

<span style='background:yellow'>**Question 3.2.**</span> Using `apply`, make a table that's a copy of `raw_compensation` with one additional column called `Total Pay ($)`.  That column should contain the result of applying `convert_pay_string_to_number` to the `Total Pay` column (as we did above).  Call the new table `compensation`.

In [28]:
compensation = raw_compensation.with_column(
    "Total Pay ($)",
    raw_compensation.apply(convert_pay_string_to_number, "Total Pay")
)
compensation

Rank | Name               | Company (Headquarters)         | Total Pay | % Change           | Cash Pay | Equity Pay | Other Pay | Ratio of CEO pay to average industry worker pay | Total Pay ($)
1    | Mark V. Hurd*      | Oracle (Redwood City)          | $53.25    | (No previous year) | $0.95    | $52.27     | $0.02     | 362                                             | 53250000
2    | Safra A. Catz*     | Oracle (Redwood City)          | $53.24    | (No previous year) | $0.95    | $52.27     | $0.02     | 362                                             | 53240000
3    | Robert A. Iger     | Walt Disney (Burbank)          | $44.91    | -3%                | $24.89   | $17.28     | $2.74     | 477                                             | 44910000
4    | Marissa A. Mayer   | Yahoo! (Sunnyvale)             | $35.98    | -15%               | $1.00    | $34.43     | $0.55     | 342                                             | 35980000
5    | Marc Benioff       | salesforce.com (San Francisco) | $33.36    | -16%               | $4.65    | $27.26     | $1.45     | 338                                             | 33360000
6    | John H. Hammergren | McKesson (San Francisco)       | $24.84    | -4%                | $12.10   | $12.37     | $0.37     | 222                                             | 24840000
7    | John S. Watson     | Chevron (San Ramon)            | $22.04    | -15%               | $4.31    | $14.68     | $3.05     | 183                                             | 22040000
8    | Jeffrey Weiner     | LinkedIn (Mountain View)       | $19.86    | 27%                | $2.47    | $17.26     | $0.13     | 182                                             | 19860000
9    | John T. Chambers** | Cisco Systems (San Jose)       | $19.62    | 19%                | $5.10    | $14.51     | $0.01     | 170                                             | 19620000
10   | John G. Stumpf     | Wells Fargo  (San Francisco)   | $19.32    | -10%               | $6.80    | $12.50     | $0.02     | 256                                             | 19320000
... (92 rows omitted)

In [29]:
'Total Pay ($)' in compensation.column_labels

AttributeError: ignored

In [ ]:
t = compensation.sort('Total Pay ($)', descending = True)
t.column('Total Pay ($)').item(0) == 53250000.0

<span style='background:yellow'>**Question 3.3.**</span> Compute the average total pay of the CEOs in the dataset.

In [ ]:
import numpy as np
average_total_pay = np.average(compensation.column("Total Pay ($)"))
average_total_pay

In [ ]:
import math
math.isclose(average_total_pay, 11445294.11764706, rel_tol = 0.1)

<span style='background:yellow'>**Question 3.4.**</span> Companies pay executives in a variety of ways: in cash, by granting stock or other equity in the company, or with ancillary benefits (like private jets).  Compute the proportion of each CEO's pay that was cash.  (Your answer should be an array of numbers, one for each CEO in the dataset.)

In [ ]:
cash_proportion = compensation.apply(convert_pay_string_to_number, "Cash Pay") / compensation.apply(convert_pay_string_to_number, "Total Pay")

In [ ]:
len(cash_proportion) == 102

In [ ]:
import math
math.isclose(cash_proportion.item(0), 0.01784038, rel_tol = .001)

<span style='background:yellow'>**Question 3.5.**</span> Create a new table called `with_previous_compensation`.  It should be a copy of `compensation`, but with the "(No previous year)" CEOs filtered out, and with an extra column called `2014 Total Pay ($)`.  That column should have each CEO's pay in 2014.

In [ ]:
def prevCompensation(current, increase):
    if current == 0:
        return 0
    else:
        return current / (1 + stripPercentage(increase) / current) 

def stripPercentage(a_str):
    return int(float(a_str.strip("%")))

with_previous_compensation = compensation.where("% Change", are.not_equal_to("(No previous year)"))
with_previous_compensation = with_previous_compensation.with_column(
    "2014 Total Pay ($)",
    with_previous_compensation.apply(prevCompensation, "Total Pay ($)", "% Change")
)

with_previous_compensation

In [ ]:
"(No previous year)" not in with_previous_compensation.column("% Change")

In [ ]:
# TEST
import math
# You have the column, but some of 
# your values may be wrong.
t = with_previous_compensation.sort("2014 Total Pay ($)", descending = True)
value = t.column("2014 Total Pay ($)").item(0)
math.isclose(value, 67700000.0, rel_tol = 1000)

In [ ]:
with_previous_compensation.num_rows==81

<span style='background:yellow'>**Question 3.6.**</span> What was the average pay of these CEOs in 2014?

In [ ]:
average_pay_2014 = np.average(with_previous_compensation.column("2014 Total Pay ($)"))
average_pay_2014

In [ ]:
import math
math.isclose(average_pay_2014, 11649176.115603436, rel_tol = 10)

<span style='background:yellow'>**Question 4.2.**</span> How many CEOs made more than $30 million in total pay? Find the value using code, then check that the value you found is consistent with what you see in the histogram.

*Hint:* Use the table method `where` and the property `num_rows`.

4.1 was below 4.2 because the graph is being disturbed  while printing the notebook

In [ ]:
num_ceos_more_than_30_million_2 = compensation.where("Total Pay ($)", are.above(30000000)).num_rows
num_ceos_more_than_30_million_2

In [ ]:
num_ceos_more_than_30_million_2 == 5

<span style='background:yellow'>**Question 4.1.**</span> Make a histogram of the total pay of the CEOs in `compensation`. Check with your neighbor or a staff member to make sure you have the right plot.

In [ ]:
compensation.hist("Total Pay ($)")