eduraka ml video in which we are studing logistic(2) whrewhere we are working on suv car's data analysis

In [ ]:
from  google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
print(format(sns.__version__))
import matplotlib.pyplot as plt
import matplotlib
import math
%matplotlib inline
#url="https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
#names = ['PassengerId',	'Survived',	'Pclass',	'Name',	'Sex',	'Age',	'SibSp',	'Parch',	'Ticket',	'Fare','Cabin',	'Embarked']
suv_data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/SUV_data.csv") 

print("passengers"+str(len(suv_data.index)))

0.10.1
passengers400

data wrangling or data cleaning by removing null data

In [ ]:
suv_data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
suv_data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
sex=pd.get_dummies(suv_data['Gender'],drop_first=True)
sex.head(5)

   Male
0     1
1     1
2     0
3     0
4     1

In [ ]:
suv_data = pd.concat([suv_data,sex],axis=1)

In [ ]:
suv_data

      User ID  Gender  Age  EstimatedSalary  Purchased  Male
0    15624510    Male   19            19000          0     1
1    15810944    Male   35            20000          0     1
2    15668575  Female   26            43000          0     0
3    15603246  Female   27            57000          0     0
4    15804002    Male   19            76000          0     1
..        ...     ...  ...              ...        ...   ...
395  15691863  Female   46            41000          1     0
396  15706071    Male   51            23000          1     1
397  15654296  Female   50            20000          1     0
398  15755018    Male   36            33000          0     1
399  15594041  Female   49            36000          1     0

[400 rows x 6 columns]

In [ ]:
suv_data.drop(['Gender','User ID'],axis=1,inplace=True)

In [ ]:
suv_data

     Age  EstimatedSalary  Purchased  Male
0     19            19000          0     1
1     35            20000          0     1
2     26            43000          0     0
3     27            57000          0     0
4     19            76000          0     1
..   ...              ...        ...   ...
395   46            41000          1     0
396   51            23000          1     1
397   50            20000          1     0
398   36            33000          0     1
399   49            36000          1     0

[400 rows x 4 columns]

In [ ]:
X = suv_data.iloc[:,[1,2]].values
y = suv_data.iloc[:,2]. values

In [ ]:
import sklearn as sk 
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,y_pred)*100

100.0